*{
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to bottom right , #181717 , #110F0F) no-repeat;
}
.Main{
    max-width: 1200px;
    margin: 0px auto;
    padding-top: 20px;
}