.Navbar {
    font-family: Khula;
    display: Flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
    font-weight: 100;
    color : white;
}


.link {
    color: rgb(223, 219, 219);
    text-decoration: none;
    margin-left: 80px;
}

.active{
    color: #fff;
    border-bottom: 1px solid white;
}